<!DOCTYPE html>
<html>

<head>
  <title></title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <script src="/scripts/libs/angular/angular.js"></script>
    <script src="/scripts/libs/angular-aria/angular-aria.js"></script>
    <script src="/scripts/libs/angular-animate/angular-animate.js"></script>
    <script src="/scripts/libs/angular-material/angular-material.js"></script>
    <script src="/scripts/src/main.min.js"></script>

</head>

<body ng-app="a">
  <div ng-controller="AppCtrl" layout="column" style="height:500px;" ng-cloak>
    <section layout="row" flex>
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>
        <md-content layout-padding ng-controller="LeftCtrl">
          <md-button ng-click="close()" class="md-primary" hide-gt-md>
            Close Sidenav Left
          </md-button>
          <p hide-md show-gt-md>
            This sidenav is locked open on your device. To go back to the default behavior,
            narrow your display.
          </p>
        </md-content>
      </md-sidenav>
      <md-content flex layout-padding>
        <div layout="column" layout-fill layout-align="top center">
          <p>
          The left sidenav will 'lock open' on a medium (>=960px wide) device.
          </p>
          <p>
          The right sidenav will focus on a specific child element.
          </p>
          <div>
            <md-button ng-click="toggleLeft()"
              class="md-primary" hide-gt-md>
              Toggle left
            </md-button>
          </div>
          <div>
            <md-button ng-click="toggleRight()"
              ng-hide="isOpenRight()"
              class="md-primary">
              Toggle right
            </md-button>
          </div>
        </div>
        <div flex></div>
      </md-content>
      <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
        <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools">Sidenav Right</h1>
        </md-toolbar>
        <md-content ng-controller="RightCtrl" layout-padding>
          <form>
            <md-input-container>
              <label for="testInput">Test input</label>
              <input type="text" id="testInput"
                     ng-model="data" md-autofocus>
            </md-input-container>
          </form>
          <md-button ng-click="close()" class="md-primary">
            Close Sidenav Right
          </md-button>
        </md-content>
      </md-sidenav>
    </section>
  </div>

  <md-content layout="row" layout-xs="column">
    <div flex flex-order="-1">
      <p>[flex-order="-1"]</p>
    </div>
    <div flex flex-order="1" flex-order-xs="3">
      <p hide-xs>Important content</p>
      <p hide show-xs>Some Menu</p>
      THE NAVIGATION
    </div>
    <div flex flex-order="2">
      <p>[flex-order="2"]</p>
    </div>
    <div flex flex-order="3" flex-order-xs="1">
      <p hide-xs>[flex-order="3"]</p>
      <p hide show-xs>[flex-order-gt-md="1"]</p>
    </div>
  </md-content>
</body>

</html>
